.query-management { 
  padding: 20px;
  font-family: Arial, sans-serif;
  color: black;
  
}

.query-header {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.search-bar {
  padding: 5px;
  font-size: 14px;
  flex: 1;
  background-color: white; /* Change input background to white */
  border: 1px solid #ddd; /* Add a border for better visibility */
  border-radius: 4px; /* Optional: Add rounded corners */
}

.new-query-btn {
  padding: 5px 10px;
  background-color: #36a2eb;
  color: #fff;
  border: none;
  cursor: pointer;
}

.query-table {
  width: 96%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.query-table th,
.query-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.query-table th {
  background-color: #f4f4f4;
}

.main-contentf {
  /* display: flex;
  flex-direction: column !important; */
  gap: 20px;
  width: 90vw;
}

.query-graphs {
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: center; /* Center the charts horizontally */
  align-items: center; /* Align charts vertically in the center */
  gap: 20px; /* Adjust spacing between the charts */
  width: 100%; /* Use the full width of the container */
}

.query-graphs canvas {
  width: 600px; /* Increase the width for larger graphs */
  height: 400px; /* Increase the height for larger graphs */
}

.overview-graphs {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.overview-metrics {
  min-width: 200px;
}
